<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/">Home</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/content/">Inhalt</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/author/">Autor</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/preview/">Leseproben</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/errata/">Errata</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/blog/">Blog</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/imprint/">Immpressum &amp; Kontakt</a>
  </nav>
</div>
